*{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.ui-BT{
	width: 100%;
	background-color: #F8F8F8;
}
.ui-head{
	position: relative;
	height: 150px;
	width: 80%;
	left: 10%;
	top: 10px;
}
.ui-head-logo{
	position: relative;
	left: 2%;
	width: 135px;
	height: 135px;
}
/*.ui-head-logo img{
	left: 10%;
	width: 135px;
	height: 135px;
}*/
.ui-head-sign{
	position:absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	right: 20px;
}
.ui-head-sign-in{
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
.ui-choose{
	position: relative;
	height: 40px;
	width: 80%;
	left: 10%;
	background: linear-gradient(#C60000,#8D0000);
	color: white;
	font-size: 150%;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}
#si a{
	color: black;
}
#hp a{
	color: #fff;
}
.ui-search{
	position: relative;
	height: 50px;
	width: 80%;
	left: 10%;
}
.ui-search-in{
	margin: 20px;
	width: 20%;
	height: 40px;
}
.search2{
	position: absolute;
	top: -10px;
	right: 20px;
	margin-top: 10px;
	width: 20%;
	height: 40px;
}
/*.input1{
	width: 20%;
	height: 30px;
}*/
.searchb{
	position: absolute;
	top: 5px;
	left: 20%;
	width: 20px;
	height: 20px;
}
.searchc{
	position: absolute;
	top: 5px;
	width: 20px;
	height: 20px;
	right: 20px;
}
.ui-item{
	position: relative;
	height: 1000px;
	width: 80%;
	left: 10%;
}
.ui-item-option{
	position: relative;
	height: 50px;
	border-bottom: solid 3px #8D0000;
	display: flex;
	text-align:center;
	line-height: 50px;
	font-weight: bold;
}
#ui-item-option-title{
	position: relative;
	width: 16%;
	background-color: #8D0000;
	color: white;
}
#all{
	position: relative;
	width: 12%;
}
#laptop{
	position: relative;
	width: 12%;
}
#processor{
	position: relative;
	width: 12%;
}
#mainboard{
	position: relative;
	width: 12%;
}
#graphic{
	position: relative;
	width: 12%;
}
#peripheral{
	position: relative;
	width: 12%;
}
#desktop{
	position: relative;
	width: 12%;
}
.ui-item-content{
	position: relative;
	height: 950px;
	width: 70%;
	margin-top: 10px;
}
.ui-item-content-detail_1{
	position: relative;
	width: 100%；
	margin-top: 5px;
	height: 150px;
	display: flex;
    flex-direction: flex;
}
.detail_1_1-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/graphic_1.jpg);
	background-size: 100% 100%;
}
.detail_1-word{
	position: relative;
	left: 1%;
	width: 64%;
	height: 100%;
}
.word-title{
	font-size: 150%;
	height: 20%;
	color: black;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.word-kind{
	position: relative;
	height: 20%;
	display: flex;
}
.word-kind-type{
	width: 10%;
	height: 70%;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align:center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.word-kind-date{
	width: 20%;
	height: 70%;
	text-align:center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #AAAAAA;
}
.word-info{
	width: 100%;
	height: 50%;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	color: #777777;
}
.word-view{
	position: absolute;
	height: 10%;
	width: 10%;
	right: 0px;
	line-height: 100%;
	background-color: #747474;
	color: white;
	font-weight: bold;
	text-align:center;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}
.ui-item-content-detail_2{
	position: relative;
	margin-top: 5px;
	height: 150px;
	display: flex;
    flex-direction: flex;
}
.detail_1_2-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/laptop_1.jpg);
	background-size: 100% 100%;
}
.detail_2-word{
	position: relative;
	left: 1%;
	width: 64%;
	height: 100%;
}
.ui-item-content-detail_6{
	position: relative;
	margin-top: 5px;
	height: 150px;
	display: flex;
    flex-direction: flex;
}
.detail_1_6-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/processor_1.jpg);
	background-size: 100% 100%;
}
.detail_6-word{
	position: relative;
	left: 1%;
	width: 64%;
	height: 100%;
}
.ui-item-content-detail_4{
	position: relative;
	margin-top: 5px;
	height: 150px;
	display: flex;
    flex-direction: flex;
}
.detail_1_4-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/mainboard_1.jpg);
	background-size: 100% 100%;
}
.detail_4-word{
	position: relative;
	left: 1%;
	width: 64%;
	height: 100%;
}
.ui-item-content-detail_3{
	position: relative;
	margin-top: 5px;
	height: 150px;
	display: flex;
    flex-direction: flex;
}
.detail_1_3-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/peripheral_1.jpg);
	background-size: 100% 100%;
}
.detail_3-word{
	position: relative;
	left: 1%;
	width: 64%;
	height: 100%;
}
.ui-item-content-detail_5{
	position: relative;
	margin-top: 5px;
	height: 150px;
	display: flex;
    flex-direction: flex;
}
.detail_1_5-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/desktop_1.jpg);
	background-size: 100% 100%;
}
.detail_5-word{
	position: relative;
	left: 1%;
	width: 64%;
	height: 100%;
}
.detail_2_1-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/laptop_1.jpg);
	background-size: 100% 100%;
}
.detail_2_2-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/laptop_2.jpg);
	background-size: 100% 100%;
}
.detail_2_3-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/laptop_3.jpg);
	background-size: 100% 100%;
}
.detail_2_4-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/laptop_4.jpg);
	background-size: 100% 100%;
}
.detail_2_5-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/laptop_5.jpg);
	background-size: 100% 100%;
}
.detail_2_6-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/laptop_6.jpg);
	background-size: 100% 100%;
}
.detail_3_1-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/processor_1.jpg);
	background-size: 100% 100%;
}
.detail_3_2-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/processor_2.jpg);
	background-size: 100% 100%;
}
.detail_3_3-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/processor_3.jpg);
	background-size: 100% 100%;
}
.detail_3_4-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/processor_4.jpg);
	background-size: 100% 100%;
}
.detail_3_5-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/processor_5.jpg);
	background-size: 100% 100%;
}
.detail_3_6-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/processor_6.jpg);
	background-size: 100% 100%;
}
.detail_4_1-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/mainboard_1.jpg);
	background-size: 100% 100%;
}
.detail_4_2-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/mainboard_2.jpg);
	background-size: 100% 100%;
}
.detail_4_3-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/mainboard_3.jpg);
	background-size: 100% 100%;
}
.detail_4_4-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/mainboard_4.jpg);
	background-size: 100% 100%;
}
.detail_4_5-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/mainboard_5.jpg);
	background-size: 100% 100%;
}
.detail_4_6-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/mainboard_6.jpg);
	background-size: 100% 100%;
}
.detail_5_1-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/graphic_1.jpg);
	background-size: 100% 100%;
}
.detail_5_2-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/graphic_2.jpg);
	background-size: 100% 100%;
}
.detail_5_3-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/graphic_3.jpg);
	background-size: 100% 100%;
}
.detail_5_4-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/graphic_4.jpg);
	background-size: 100% 100%;
}
.detail_5_5-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/graphic_5.jpg);
	background-size: 100% 100%;
}
.detail_5_6-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/graphic_6.jpg);
	background-size: 100% 100%;
}
.detail_6_1-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/peripheral_1.jpg);
	background-size: 100% 100%;
}
.detail_6_2-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/peripheral_2.jpg);
	background-size: 100% 100%;
}
.detail_6_3-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/peripheral_3.jpg);
	background-size: 100% 100%;
}
.detail_6_4-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/peripheral_4.jpg);
	background-size: 100% 100%;
}
.detail_6_5-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/peripheral_5.jpg);
	background-size: 100% 100%;
}
.detail_6_6-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/peripheral_6.jpg);
	background-size: 100% 100%;
}
.detail_7_1-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/desktop_1.jpg);
	background-size: 100% 100%;
}
.detail_7_2-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/desktop_2.jpg);
	background-size: 100% 100%;
}
.detail_7_3-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/desktop_3.jpg);
	background-size: 100% 100%;
}
.detail_7_4-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/desktop_4.jpg);
	background-size: 100% 100%;
}
.detail_7_5-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/desktop_5.jpg);
	background-size: 100% 100%;
}
.detail_7_6-img{
	position: relative;
	width: 35%;
	height: 100%;
	background-image: url(../img/desktop_6.jpg);
	background-size: 100% 100%;
}

.ui-item-show{
	position: relative;
	height: 950px;
	width: 100%;
	margin-top: 5px;
	display: flex;
    justify-content: space-between;
}
.ui-item-discuss{
	height: 950px;
	width: 24%;
	margin-top: 10px;
}
.ui-item-discuss-option{
	position: relative;
	height: 40px;
	width: 100%;
	border-bottom: solid 3px #8D0000;
}
.ui-item-discuss-option-title{
	position: relative;
	width: 100px;
	background-color: #8D0000;
	color: white;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
}
.ui-item-discuss-option-item_1{
	position: relative;
	height: 200px;
	width: 100%;
}
.ui-item-discuss-option-item_1-img{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 10px;
	background-image: url(../img/img_1.jpg);
	background-size: 100% 100%;
}
.ui-item-discuss-option-item_2{
	position: relative;
	height: 200px;
	width: 100%;
}
.ui-item-discuss-option-item_2-img{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	background-image: url(../img/img_2.jpg);
	background-size: 100% 100%;
}
.ui-item-discuss-option-item_3{
	position: relative;
	height: 200px;
	width: 100%;
}
.ui-item-discuss-option-item_3-img{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	background-image: url(../img/img_3.jpg);
	background-size: 100% 100%;
}
.ui-item-discuss-option-item_4{
	position: relative;
	height: 200px;
	width: 100%;
}
.ui-item-discuss-option-item_4-img{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	background-image: url(../img/img_4.jpg);
	background-size: 100% 100%;
}
.ui-item-discuss-option-item-word{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ui-box0{
width: 100%;
  height: 2000px;
  background-color: white;
  border-style: none;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 0px;
}
.ui-box1{
	position: relative;
  width: 100%;
  height: 141px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ui-box1-text-text{
	position: relative;
  width:70%;
  height:141px;
  margin:20px;
}
.ui-box1-picture{
	position: relative;
  width: 30%;
  right: 2%;
  height: 141px;
  border-style:none none none none;
  margin-left: 0px;
  margin-right: 0px; 
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.ui-box1-feilei{
	position: relative;
  width:100%;
  height:30px;
  margin:20px 200px 20px 20px;
}
.ui-box1-feilei a{
	color: green;
}
.ui-tou{
	position: relative;
  width:1200px;
  height:30px;
  margin:15px 20px 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ui-indice{
	width: 100%;
	height:40px;
	margin: 20px;
	display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ui-indice-no{
	width: 60%;
	height: 40px
}
.ui-indice-small{
	position: relative;
width: 25px;
height: 25px;
border: 1px solid gray;
margin: 1px 5px 1px 5px
}