.head{
	position: absolute;
	left: 40px;
	width: 90%;
	height: 100px;
	background-color: fff;
}
.logo{
	margin-left: 10px;
	width: 100px;
	height: 100px;
}
.logo img{
	width: 100px;
	height: 100px;
}
.qmenu{
	position: absolute;
	top: 110px;
	left: 40px;
	width: 90%;
	height: 40px;
	background-color: #0D0D0D;
}
.b1{
	color: #fff;
	border-top:3px;
}