*{
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-logo{
	position: relative;
	height: 100px;
	background-color: gray;
}
.ui-choose{
	position: relative;
	height: 50px;
	background-color: lightgray;
}
.ui-search{
	position: relative;
	height: 50px;
	background-color: black;
}
.ui-item{
	position: relative;
	height: 500px;
	background-color: gray;
}